<p><%= link_to "View All Dealers", "/dealers" %></p>
<p><%= link_to "View All Instruments", "/instruments" %></p>

<%= form_with(url: "/dealers/#{@dealer.id}/instruments", method: "post", local: true) do |f| %>
  <h3><%= f.label "Create New Instrument:" %></h3>
  <p><%= f.label "Name: " %></p>
  <p><%= f.text_field :name, placeholder: "Enter Name" %></p><br>
  <p><%= f.label "On Sale?: " %></p>
  <p><%= f.check_box :on_sale %></p><br>
  <p><%= f.label "Brand: " %></p>
  <p><%= f.text_field :brand, placeholder: "Enter Brand" %></p><br>
  <p><%= f.label "Price: " %></p>
  <p><%= f.text_field :price, placeholder: "Enter Price" %></p><br>
  <%= f.submit "Create Instrument" %>
<% end %>
