<p><%= link_to "View All Schools", "/schools" %></p>
<p><%= link_to "View All Teachers", "/teachers" %></p>

<h3>Edit</h3>

<%= form_with url: "/teachers/#{@teacher.id}", method: :patch, local: true do |form| %>
  <p><%= form.label "Name: " %></p>
  <p><%= form.text_field :name, value: "#{@teacher.name}" %></p><br>
  <p><%= form.label "College Graduate?: " %></p>
  <p><%= form.check_box :college_graduate, checked: @teacher.college_graduate %></p><br>
  <p><%= form.label "Salary: " %></p>
  <p><%= form.text_field :salary, value: "#{@teacher.salary}" %></p><br>
  <%= form.submit "Update Teacher" %>
<% end %>
