<p><%= link_to "View All Schools", "/schools" %></p>
<p><%= link_to "View All Teachers", "/teachers" %></p>

<%= form_with url: "/teachers" do |form| %>
<p><%= form.text_field :name, value: "Enter Teacher Name" %></p>
<%= form.submit "Search" %>
<% end %>

<h1>All Teachers</h1>

<% @teachers.each do |teacher| %>
  <h4><%= teacher.name %></h4>
  <h5>College Graduate?: <%= teacher.college_graduate ? 'Yes' : 'No' %></h5>
  <h5>Salary: <%= teacher.salary %></h5>
  <p><%= link_to "Update Teacher", "/teachers/#{teacher.id}/edit" %></p>
  <p><%= link_to "Delete Teacher", "/teachers/#{teacher.id}", method: :delete %></p>
<%end%>
