<p><%= link_to "View All Dealers", "/dealers" %></p>
<p><%= link_to "View All Instruments", "/instruments" %></p>

<%= form_with(url: "/dealers/#{@dealer.id}", method: "patch", local: true) do |f| %>
  <h3><%= f.label "Edit" %></h3>
    <p><%= f.label "Name: " %></p>
    <p><%= f.text_field :name, value: "#{@dealer.name}" %></p><br>
    <p><%= f.label "Fully Staffed?: " %></p>
    <p><%= f.check_box :fully_staffed, checked: @dealer.fully_staffed %></p><br>
    <p><%= f.label "Sq Ft: " %></p>
    <p><%= f.text_field :sq_ft, value: "#{@dealer.sq_ft}" %></p><br>
    <p><%= f.label "City: " %></p>
    <p><%= f.text_field :city, value: "#{@dealer.city}" %></p><br>
    <p><%= f.label "State: " %></p>
    <p><%= f.text_field :state, value: "#{@dealer.state}" %></p><br>
    <%= f.submit "Update Dealer" %>
<% end  %>
