<h1><%= @dealer.name %></h1>

<h3><strong>All Inventory</strong></h3>

<%= form_tag("/dealers/#{@dealer.id}/instruments", method: "get") do %>
  <%= label_tag(:q, "Filter by Price - Greater Than:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Find Instruments") %>
<% end %>

<p><%= link_to "Clear Filter", "/dealers/#{@dealer.id}/instruments" %></p>

<% @instruments.each do |instrument| %>
  <p><strong>Name: </strong><%= instrument.name %></p>
  <p><strong>On Sale?: </strong><%= instrument.on_sale %></p>
  <p><strong>Brand: </strong><%= instrument.brand %></p>
  <p><strong>Price: </strong><%= instrument.price %></p>
<% end %>

<p><%= link_to "Create Instrument", "/dealers/#{@dealer.id}/instruments/new" %></p>
