<p><%= link_to "View All Instruments", "/instruments" %></p>

<h1><%= @dealer.name %></h1>

<h3><strong>All Inventory</strong></h3>

<%= form_tag("/dealers/#{@dealer.id}/instruments", method: "get") do %>
  <%= label_tag(:amount, "Filter by Price - Greater Than:") %>
  <%= text_field_tag(:amount) %>
  <%= submit_tag("Find Instruments") %>
<% end %>

<p><%= link_to "Sort Instruments by Name", "/dealers/#{@dealer.id}/instruments?param1=sort" %></p>

<p><%= link_to "Clear Filter", "/dealers/#{@dealer.id}/instruments" %></p>

<% @instruments.each do |instrument| %>
  <p><strong>Name: </strong><%= instrument.name %></p>
  <p><strong>On Sale?: </strong><%= instrument.on_sale %></p>
  <p><strong>Brand: </strong><%= instrument.brand %></p>
  <p><strong>Price: </strong><%= instrument.price %></p>
  <p><%= link_to "Update Instrument", "/instruments/#{instrument.id}/edit" %></p>
  <p><%= link_to "Delete Instrument", "/instruments/#{instrument.id}", method: :delete %></p>
<% end %>

<p><%= link_to "Create Instrument", "/dealers/#{@dealer.id}/instruments/new" %></p>
