<p><%= link_to "View All Dealers", "/dealers" %></p>
<p><%= link_to "View All Instruments", "/instruments" %></p>

<%= form_with(url: "/dealers", method: "post") do %>
  <h3><%= label_tag("Create New Dealer:") %></h3>
  <p><%= label_tag ("Name: ") %></p>
  <p><%= text_field_tag :name, "Enter Name" %></p><br>
  <p><%= label_tag("Fully Staffed?: ") %></p>
  <p><%= check_box_tag(:fully_staffed) %></p><br>
  <p><%= label_tag("Sq Ft: ") %></p>
  <p><%= text_field_tag :sq_ft, "Enter Square Footage" %></p><br>
  <p><%= label_tag("City: ") %></p>
  <p><%= text_field_tag :city, "Enter City" %></p><br>
  <p><%= label_tag("State: ") %></p>
  <p><%= text_field_tag :state, "Enter State" %></p><br>

  <%= submit_tag("Create Dealer") %>
<% end %>
