<p><%= link_to "View All Dealers", "/dealers" %></p>
<p><%= link_to "View All Instruments", "/instruments" %></p>

<%= form_with(url: "/dealers", method: "post", local: true) do |f| %>
  <h3><%= f.label "Create New Dealer:" %></h3>
  <p><%= f.label "Name: " %></p>
  <p><%= f.text_field :name, placeholder: "Enter Name" %></p><br>
  <p><%= f.label "Fully Staffed?: " %></p>
  <p><%= f.check_box :fully_staffed %></p><br>
  <p><%= f.label "Sq Ft: " %></p>
  <p><%= f.text_field :sq_ft, placeholder: "Enter Square Footage" %></p><br>
  <p><%= f.label "City: " %></p>
  <p><%= f.text_field :city, placeholder: "Enter City" %></p><br>
  <p><%= f.label "State: " %></p>
  <p><%= f.text_field :state, placeholder: "Enter State" %></p><br>
  <%= f.submit "Create Dealer" %>
<% end %>
