<p><%= link_to "View All Dealers", "/dealers" %></p>
<p><%= link_to "View All Instruments", "/instruments" %></p>

<%= form_with url: '/dealers' do |form|%>
  <h3><%= form.label "Create New Dealer:" %></h3>
  <p><%= form.label "Name: " %></p>
  <p><%= form.text_field :name %></p><br>
  <p><%= form.label "Fully Staffed?: " %></p>
  <p><%= form.check_box :fully_staffed %></p><br>
  <p><%= form.label "Sq Ft: " %></p>
  <p><%= form.text_field :sq_ft %></p><br>
  <p><%= form.label "City: " %></p>
  <p><%= form.text_field :city %></p><br>
  <p><%= form.label "State: " %></p>
  <p><%= form.text_field :state %></p><br>

  <%= form.submit "Create Dealer" %>
<% end %>
