<p><%= link_to "View All Dealers", "/dealers" %></p>
<p><%= link_to "View All Instruments", "/instruments" %></p>

<%= form_with url: "/dealers/#{@dealer.id}/instruments" do |form|%>
  <h3><%= form.label "Create New Instrument:" %></h3>
  <p><%= form.label "Name: " %></p>
  <p><%= form.text_field :name %></p><br>
  <p><%= form.label "On Sale?: " %></p>
  <p><%= form.check_box :on_sale %></p><br>
  <p><%= form.label "Brand: " %></p>
  <p><%= form.text_field :brand %></p><br>
  <p><%= form.label "Price: " %></p>
  <p><%= form.text_field :price %></p><br>

  <%= form.submit "Create Instrument" %>
<% end %>
