<a href="/dealers">Dealer Index</a>

<h1><%= @dealer.name %></h1>
<p><strong>Fully Staffed?: </strong><%= @dealer.fully_staffed ? 'Yes' : 'No'%></p>
<p><strong>Monthly Gross: </strong><%= @dealer.monthly_gross %></p>
<p><strong>City: </strong><%= @dealer.city %></p>
<p><strong>State: </strong><%= @dealer.state %></p>

<p><a href="/dealers/<%=@dealer.id%>/edit">Update Dealer</p>

<p><%= link_to "Delete Dealer", "/dealers/#{@dealer.id}", method: :delete %></p>
