<p><%= link_to "View All Dealers", "/dealers" %></p>
<p><%= link_to "View All Instruments", "/instruments" %></p>

<a href="/dealers">Dealer Index</a>

<h1><%= @dealer.name %></h1>
<p><strong>Fully Staffed?: </strong><%= @dealer.fully_staffed ? 'Yes' : 'No'%></p>
<p><strong>Sq Ft: </strong><%= @dealer.sq_ft %></p>
<p><strong>City: </strong><%= @dealer.city %></p>
<p><strong>State: </strong><%= @dealer.state %></p>

<h3><%= @instruments %> Instruments in Stock!</h3>

<h3><%= link_to "#{@dealer.name} All Instruments in Stock", "/dealers/#{@dealer.id}/instruments" %></h3>

<p><%= link_to "Instruments", "/dealers/#{@dealer.id}/instruments" %></p>

<p><a href="/dealers/<%=@dealer.id%>/edit">Update Dealer</p>

<p><%= link_to "Delete Dealer", "/dealers/#{@dealer.id}", method: :delete %></p>
