<p><%= link_to "View All Schools", "/schools" %></p>
<p><%= link_to "View All Teachers", "/teachers" %></p>

<%= form_with url: '/schools', method: :post, local: true do |form|%>
  <h3><%= form.label "Create New School:" %></h3>
  <p><%= form.label "Name: " %></p>
  <p><%= form.text_field :name, placeholder: "Turing" %></p><br>
  <p><%= form.label "Address: " %></p>
  <p><%= form.text_field :address, placeholder: "123 Street" %></p><br>
  <p><%= form.label "City: " %></p>
  <p><%= form.text_field :city, placeholder: "Denver" %></p><br>
  <p><%= form.label "State: " %></p>
  <p><%= form.text_field :state, placeholder: "CO", maxlength: 2 %></p><br>
  <p><%= form.label "Zipcode: " %></p>
  <p><%= form.text_field :zipcode, placeholder: "80202", maxlength: 5 %></p><br>
  <p><%= form.label "Grade School?: " %></p>
  <p><%= form.check_box :gradeschool %></p><br>

  <%= form.submit "Create School" %>
<% end %>
