<p><%= link_to "View All Schools", "/schools" %></p>
<p><%= link_to "View All Teachers", "/teachers" %></p>

<%= form_with url: '/schools' do |form|%>
  <h3><%= form.label "Create New School:" %></h3>
  <p><%= form.label "Name: " %></p>
  <p><%= form.text_field :name %></p><br>
  <p><%= form.label "Address: " %></p>
  <p><%= form.check_box :address %></p><br>
  <p><%= form.label "City: " %></p>
  <p><%= form.text_field :city %></p><br>
  <p><%= form.label "State: " %></p>
  <p><%= form.text_field :state %></p><br>
  <p><%= form.label "Zipcode: " %></p>
  <p><%= form.text_field :zipcode %></p><br>
  <p><%= form.label "Grade School?: " %></p>
  <p><%= form.text_field :gradeschool %></p><br>

  <%= form.submit "Create School" %>
<% end %>
