<p><%= link_to "View All Schools", "/schools" %></p>
<p><%= link_to "View All Teachers", "/teachers" %></p>

<%= form_with url: "/schools/#{@school.id}/teachers" do |form|%>
  <h3><%= form.label "Create New Teacher:" %></h3>
  <p><%= form.label "Name: " %></p>
  <p><%= form.text_field :name %></p><br>
  <p><%= form.label "College Graduate?: " %></p>
  <p><%= form.check_box :college_graduate %></p><br>
  <p><%= form.label "Salary: " %></p>
  <p><%= form.text_field :salary %></p><br>

  <%= form.submit "Create Teacher" %>
<% end %>
