<p><%= link_to "View All Schools", "/schools" %></p>
<p><%= link_to "View All Teachers", "/teachers" %></p>

<a href="/schools">School Index</a>

<h1><%= @school.name %></h1>
<p><strong>Address: </strong><%= @school.address %></p>
<p><strong>City: </strong><%= @school.city %></p>
<p><strong>State: </strong><%= @school.state %></p>
<p><strong>Zipcode: </strong><%= @school.zipcode %></p>
<p><strong>Grade School?: </strong><%= @school.gradeschool ? 'Yes' : 'No' %></p>

<h3><%= @teachers %> teachers employed at <%= @school.name %>!</h3>

<h3><%= link_to "All teachers employed at #{@school.name}", "/schools/#{@school.id}/teachers" %></h3>
<p><%= link_to "Teachers", "/schools/#{@school.id}/teachers" %></p>
<p><%= link_to "Update School", "/schools/#{@school.id}/edit" %></p>
<p><%= link_to "Delete School", "/schools/#{@school.id}", method: :delete %></p>
