<a href="/schools">School Index</a>

<h1><%= @school.name %></h1>
<p><%= @school.address %></p>
<p><%= @school.city %></p>
<p><%= @school.state %></p>
<p><%= @school.zipcode %></p>
<p><%= @school.gradeschool %></p>
<p><%= @school.created_at %></p>
<p><%= @school.updated_at %></p>
