<a href="/schools">School Index</a>

<h1><%= @school.name %></h1>
<p><strong>Address: </strong><%= @school.address %></p>
<p><strong>City: </strong><%= @school.city %></p>
<p><strong>State: </strong><%= @school.state %></p>
<p><strong>Zipcode: </strong><%= @school.zipcode %></p>

<p><%= link_to "Teachers", "/schools/#{@school.id}/teachers" %></p>

<p><%= link_to "Update School", "/schools/#{@school.id}/edit" %></p>

<p><%= link_to "Delete School", "/schools/#{@school.id}", method: :delete %></p>
