<h1><%= @school.name %></h1>

<h3><strong>All Teachers</strong></h3>

<%= form_tag("/schools/#{@school.id}/teachers", method: "get") do %>
  <%= label_tag(:amount, "Filter by Salary - Greater Than:") %>
  <%= text_field_tag(:amount) %>
  <%= submit_tag("Find Teachers") %>
<% end %>

<p><%= link_to "Sort Teachers by Name", "/schools/#{@school.id}/teachers?sort=by_name" %></p>

<p><%= link_to "Clear Filter", "/schools/#{@school.id}/teachers" %></p>

<% @teachers.each do |teacher| %>
  <p><strong>Name: </strong><%= teacher.name %></p>
  <p><strong>College Graduate?: </strong><%= teacher.college_graduate ? 'Yes' : 'No' %></p>
  <p><strong>Salary: </strong><%= teacher.salary %></p>
<% end %>

<p><%= link_to "Create Teacher", "/schools/#{@school.id}/teachers/new" %></p>
