<h1>All Instruments</h1>

<% @instruments.each do |instrument| %>
  <h4><%= instrument.name %></h4>
  <h5>Make: <%= instrument.brand %></h5>
  <h5>Price: <%= instrument.price %></h5>
<p><%= link_to "Update Instrument", "/instruments/#{instrument.id}/edit" %></p>
<p><%= link_to "Delete Instrument", "/instruments/#{instrument.id}", method: :delete %></p>
<%end%>
